<html>
  <script>
    console.log('');

    var testing = function () {
      // console.log('#######');
    };

    setInterval(testing, 5000);
  </script>

  <body>
    TEST PAGE
    
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">이름</th>
            <th scope="col">등급</th>
          </tr>
        </thead>
  
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.grade }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>